@CHARSET "UTF-8";

@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
* { font-family:"Nanum Gothic" !important }

.clear{
	clear: both;
}

@media(min-width:320px){
	.bodymargin{
		margin-top:5%;
		margin-bottom:15%;
	}
	.findrenMember{
		width: 100%;
		text-align: center;
	}
	.findrenMember img{
		width: 40vw;
	}
}

@media(min-width:768px){
	.bodymargin{
		margin-bottom: 10%;
	}
}

@media(min-width:1200px){
	.bodymargin{
		margin-bottom: 8%;
		padding-top: 2vw;
	}
	.bodymargin tbale th, .bodymargin table td{
		font-size: 1vw;
	}
	.findrenMember{
		width: 100%;
		text-align: center;
	}
}

/* 메인 NAV */
.headback{
	background: WHITE;
}

.headlogo{
	background: WHITE;
	padding: 1%;
	margin-right: auto;
	margin-left: auto;
}

@media ( min-width :768px) {
	.maintop {
		width: 750px
	}
}

@media ( min-width :992px) {
	.maintop {
		width: 970px
	}
	.maintop{
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto
	}
}

@media ( min-width :1200px) {
	.maintop {
		width: 1170px
	}
	.maintop{
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto
	}
}

/* 메인네비 로고 사진 */
@media ( min-width: 320px) {
	.logo{
		width: 50%;
	}
	#loginjoin{
		padding-top: 7vw;
		float: right;
	}
	.main_msg{
		width: 60px;
	}
}
	
@media(min-width:768px){
	.logo{
		width: 35%;
	}	
	#loginjoin{
	padding-top: 3.5em;
	float: right;
	}
}

@media(min-width:992px){
	.logo{
		width: 200px;
	}	
}

@media(min-width:1200px){
	.logo{
		width: 250px;
	}	
	#loginjoin{
		padding-top: 2.5vw;
		float: right;
	}
	.main_msg{
		width: 80px;
	}
}

/* 메인바디 */
@media(min-width: 320px){
	.mainslide{
		max-width: 100%;
		margin-top:15%; 
	}
	.mainslide_img{
		max-width: 100%
	}
	.page-header img{
		margin-top: -8.5%;
		width: 70vw;
	}
	.panel-heading img{
		width: 90px;
	}
	.panel-body{
		width: 100%;
		margin: 0 auto;
	}
	#QR1{
		width:9em;
		padding-right: 0.5em;
	}
	#QR2{
		width: 9em;
		padding-left: 0.5em;
	}	
}

@media (min-width: 768px){
	.mainslide{
		width: 100%;
		margin-top:9%; 
	}
	.mainslide_img{
		max-width: 100%
	}
	.page-header img{
		margin-top: -20px;
		width: 320px
	}
	.panel-heading img{
		width: 40%;
	}
	.panel-body{
		width: 100%;
		margin: 0 auto;
	}
	#QR1{
		width:9em;
		padding-right: 0.5em;
	}
	#QR2{
		width: 9em;
		padding-left: 0.5em;
	}	
}

@media (min-width: 992px){
	.mainslide{
		width: 100%;
		margin-top:7%; 
	}
	.mainslide_img{
		max-width: 100%
	}
	.page-header img{
		margin-top: -20px;
		width: 300px;
	}
	#QR1{
		padding-right: 1.5em;
	}
	#QR2{
		padding-left: 1.5em;
	}

}

@media (min-width: 1400px){
	.mainslide{
		width: 100%;
		margin-top:1%; 
	}
}

/* FOOTER */
@media(min-width:320px){
	.footer{
		clear: left;
		padding: 1em 0;
		background-color: black;
		color: #666;
		position: fixed;
		width:100%;
		bottom: 0;
		font-size: 1.5vw;
	}
}

@media(min-width:768px){
	.footer{
		clear: left;
		padding: 1em 0;
		background-color: black;
		color: #666;
		position: fixed;
		width:100%;
		bottom: 0;
		font-size: 1.5vw;
	}
}

@media(min-width:992px){
	.footer{
		clear: left;
		padding: 1em 0;
		background-color: black;
		color: #666;
		position: fixed;
		width:100%;
		bottom: 0;
		font-size: 0.8vw;
	}
}


/* ComINFO */
.comInfo div{
	text-align: center;
}

@media(min-width:320px){
	.comInfo_name{
		width: 60vw;
	}
	.comInfo{
		width:20vw;
		margin: 0 auto;
		text-align: center;
	}
	.map_table table{
		font-size: 1.2vw;
	}
}

@media(min-width:760px){
	
}

@media(min-width:1200px){
	.comInfo_name{
		width: 30vw;
	}
	.comInfo{
		width:40vw;
		margin: 0 auto;
		text-align: center;
	}
	.map_table table th, .map_table td{
		font-size: 1vw;
	}
	
}

/* 사업분야 소개페이지 */
.comApp_id div{
	float: left;
}

@media(min-width:320px){
	.comBiz_name{
		width: 80%;
	}
	.comApp{
		margin-bottom: 5vw;
	}

}

@media(min-width:760px){
	.comBiz_name{
		width: 80%;
	}

}

@media(min-width:1200px){
	.comBiz_name{
		width: 30vw;
	}
	.comApp_id_name{
		width: 80%;
	}
	.comApp{
		margin-bottom: 3vw;
	}
}

/* 위챗페이 소개페이지*/

@media(min-width:320px){
	.table_name{
		width: 70%;
	}
}

@media(min-width:760px){
	.table_name{
		width: 80%;
	}
}

@media(min-width:1200px){
	.table_name{
		width: 30vw;
	}
}
